<!DOCTYPE html>
<html>
  <head>
    <title>Original App1 | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div id="header">
      <div id="headerArea">
        <%= link_to "Book Marks", '#', id:"header_logo" %>
        
        <div id="gnavi">
          <nav>
            <ul>
              <li><%= link_to "Home",    '#' %></li>
              <li><%= link_to "Help",    '#' %></li>
              <li><%= link_to "Sign in", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
